body{
    margin: 0px;
}

a{
    background-color: blue;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-top-left-radius: 10px;
    border: 2px solid greenyellow;
}

a:hover{
    background-color: white;
    color: blue;
}

.container{
    padding: 20px;
    background-color: silver;
    height: 10vh;
}