
.item1 {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    padding: 5px 10px 0px 10px;
}

.item2{
    grid-area: menu;
}

.main{
    grid-area: main;
}

.item4{
    grid-area: right;
}

.footer{
    grid-area: footer;
    
}

.grid-container{
    display: grid;
    grid-template-areas: 
        'header header header header header header'
        'menu main main main main right'
        'menu footer footer footer footer footer';
    grid-template-rows: 30% auto 30%;
    grid-template-columns: 10% 40% 20%;
    gap: 10px;
    background-color: rgba(217, 159, 255, 0.582);
}

.grid-container > div{
    background-color: rgba(237, 217, 255, 0.849);
    text-align: center;
    padding: 20px 0px;

}